@import "tailwindcss";

html,
 body{
  color:rgb(223, 216, 216);
  background: #111118;
 }
 main
  {
    background: #19191f;
  
    height: 100vh;
    height: 100dvh;
  }

  @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .swiper-pagination-bullet {
  background: #fff !important;
  opacity: 0.5;
}
.swiper-pagination-bullet-active {
  background: #fff !important;
  opacity: 1;
}
}